---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-logo::before {
  height: 100px; /* Adjust size as needed */
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
}
